html {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #E7E9E9;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  text-decoration: underline;
  font-size: 5vw;
}

body {
  text-align: center;
}

p {
  margin: 5%;
  padding: 1%;

  font-weight: bold;
  font-size: 4.4vw;
  border-color: black;
  border-width: 1px;
  border-style: dotted;

  background-color: lightgray;
}

#form {
  margin: 5%;
  padding: 1%;

  border-color: black;
  border-width: 1px;
  border-style: dotted;

  background-color: lightgray;
}
